{% extends "empty.html" %}

{% block header %}
{% endblock%}

{% block content %}
<div class=" p-sm">

    <form action="{{u('',['page':1])}}" method="POST">
        <div class="ibox float-e-margins">
            <a class="btn btn-primary " href="{{u('admin/account/create')}}">
                <i class="fa fa-plus"></i>&nbsp;新建</a>
            <a class="btn btn-primary btn-outline "  onclick="batchDel('{{u('admin/account/delete')}}',function(){location.reload();})">
                <i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <div class="input-group pull-right col-xs-3">
                <input type="text" name="keyword" class="form-control  " placeholder="输入名称进行查找" value="{{keyword}}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-white ">搜索</button>
                </span>
            </div>
        </div>
    </form>
    
    <div class=" b-r-sm p-sm white-bg">
            <div class="table-responsive">
                    {% if objectlist %}
                    <table  class="table table-striped table-hover m-b-none">
                                <thead>
                                <tr>
                                    <th>UID</th>
                                    <th>用户名</th>
                                    <th>昵称</th>
                                    <th>注册时间</th>
                                    <th>邮箱</th>
                                    <th>联系号码</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in objectlist %}
                                <tr>
                                <td>{{user['id']}}</td>
                                <td>{{user['username']}}</td>
                                <td>{{user['nickname']}}</td>
                                <td>{{date('Y-m-d H:i:s',user['create_time'])}}</td>
                                <td>{{user['email']}}</td>
                                <td>{{user['mobile']}}</td>
                                <td>
                                    {% if user['status']==1%}
                                    <i class="green icon-ok bigger-120"></i>
                                    {%elseif user['status']==0%}
                                    <i class="red icon-remove bigger-140"></i>
                                    {%endif%}
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-success" onclick=showDialog('用户详情',{iframe:{url:"{{u('admin/user/detail',['id':user['id']])}}"}})>
                                        查看
                                    </button>
                                    {%if user['id']!=1 %}
                                    <button class="btn btn-xs btn-info" onclick=showDialog('编辑用户',{iframe:{url:"{{u('admin/user/edit',['id':user['id']])}}"}})>
                                        编辑
                                    </button>
                                    {% if user['status']==1%}
                                    <button class="btn btn-xs btn-danger" onclick=ajaxChangeData("{{u('admin/user/changestatus')}}",{id:"{{user['id']}}",status:0})>
                                        停用
                                    </button>
                                    {% else %}
                                    <button class="btn btn-xs btn-warning" onclick=ajaxChangeData("{{u('admin/user/changestatus')}}",{id:"{{user['id']}}",status:1})>
                                        启用
                                    </button>
                                    {% endif %}
                                    <button class="btn btn-xs"{%if user['c_state']%} disabled="disabled" {%endif%} onclick=showDialog('开通容器服务',{iframe:{url:"{{u('admin/container/openservice',['uid':user['id']])}}"}})>
                                        容器
                                    </button>
                                    <button class="btn btn-xs" {%if user['a_status']!=''%} disabled="disabled" {%endif%} href="javascript:void(0)" onclick="showDialog('创建后台管理账户',{iframe:{url:'{{u('admin/account/create',['uid':user['id']])}}'}})">
                                        后台
                                    </button>
                                    {% endif %}
                                </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                {% if pagination.pageCount()>0 %}
                                <tfoot>
                                    <tr>
                                        <td colspan="9">
                                            {{pagination.setAttrib('class','pagination-sm  no-margin pull-right').output()}}
                                        </td>
                                    </tr>
                                </tfoot>
                                {% endif %}
                            </table>
                            {% else %}
                            暂无数据
                            {% endif %}
                    </div>           
            </div>
        </div>
        
        {% endblock %}
        