/*common*/
.mgt15 {margin-top:15px}
.inline-block {display: inline-block;}
.dpnone {display:none}
.space0 {padding:0!important;margin:0!important}
.flex {display: flex}
.flexbetween {display: flex;justify-content: space-between;}


/*baidu map*/
.anchorBL{display:none!important;}
/*open modal*/
.map_compoent_modal {position: fixed;z-index: 100;}
.map_compoent_modal .jstree-icon:empty {
    vertical-align: middle;
}
.map_compoent_modal  .jstree-default .jstree-anchor {
    line-height: 30px;
    height: 30px;
}
/*.map_compoent_modal .jstree-default .jstree-icon:empty {width:18px!important}*/
.map_compoent_modal_position .heading {padding:4px 7px;font-weight: 500;border-radius: 5px 5px 0 0;}
.map_compoent_modal_position  {top:120px;right: 70px;background: #fff;border: 1px solid #e7eaec;width: 370px;height: 485px;border-radius: 5px}
.map_compoent_modal_position .content  .tab-pane {padding:15px 0;position: relative;font-size:11px}
.map_compoent_modal_position .content  .tab-pane .tab_item .tab_item_title{position: absolute;left:15px;background: #fff;z-index:3;padding:0 10px;}
.map_compoent_modal_position .content  .tab-pane .tab_item .tab_item_subtitle {position: absolute;right: 15px;background: #fff;z-index:3;padding:0 10px;}
.map_compoent_modal_position .content  .tab-pane .tab_item .line {position: absolute;height: 1px;background-color:#ccc;width: 100%;top:23px;left:0px}
.map_compoent_modal_position .content  .tab_item_content {padding:15px 10px;}
.map_compoent_modal_position .content  .tab_item_content ul {list-style: none}
.map_compoent_modal_position .content  .tab_item_content ul li {height: 30px;line-height: 30px;border-bottom:1px solid #e0dddd}
.map_compoent_modal_position .content  .tab_item_content ul li label {width:60px;font-weight: 400;margin-right: 15px}


/*.heading .tabs-container ul {border-bottom: none;}
.heading .tabs-container ul li {margin-left: 10px}
.heading .tabs-container ul li a {padding:5px;font-weight: 400;font-size:12px;}
.heading .tabs-container ul .active a {}
.heading .tabs-container ul .active a:hover {background:none;border:0}
.heading .tabs-container ul .active a:focus {background:none;border:0;border-left:0;border-top:0;border-right:0;border-bottom: 1px solid #fff}*/

.heading .tabs-container  .nav-tabs li a,
.heading .tabs-container  .nav-tabs li .active{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0;
}
.heading .tabs-container  .nav-tabs li .active,
.heading .tabs-container  .nav-tabs li a:focus,
.heading .tabs-container  .nav-tabs li a:hover{
    color: #fff;
}

.tabs-container .nav-tabs{
    border: none;
}
.map_compoent_modal_head {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    background: #2f4050;
    color: #fff;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
}
.map_compoent_modal_head .title{display:inline-block;width:166px}
.map_compoent_modal_head .title i{margin-right:5px;display: inline-block;font-style: normal;vertical-align: baseline;text-align: center;text-transform: none;line-height: 1;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}
.map_compoent_modal_head .pull-right:hover{cursor: pointer;}

.map_compoent_modal_head .title span{font-size:1.1em}
.text-overflow {width: 66px;text-align: center;text-overflow: ellipsis;white-space: nowrap;}
.map_compoent_modal_head .text-overflow  .text{margin:0 3px}
.content {background:#fff;color:rgba(0, 0, 0, 0.65);font-size:12px;padding: 5px 0 !important;}
.map_compoent_modal_position .content{
    padding: 15px !important;
}

/*map right*/
.map_alarm {top:70px;right:60px}
.map_deviceview {top:120px;right: 10px;}
.map_devicedetail {top:170px;right: 10px;}

/*map left*/
.map_search {top:120px;left: 10px;}
.map_screen {top:120px;left: 10px;}
.map_all_status {bottom: 0px;left:10px}

.search_position {top:120px;left:60px;background: #fff;border: 1px solid #e7eaec;min-width: 230px;height: 35px;border-radius: 4px;}
.search_position .input-group-addon {border:0px}
.search_position input{border:0px}
.screen_position {top:120px;left:60px;background:rgba(0,0,0,0);width:auto;right:auto;height: auto;border-radius: 4px;border:0px}
.screen_position .map_dev_area{border:1px solid #d5d5d5;background: #fff;width:230px;border-radius: 5px 5px 0 0;}


.map_dev_list {box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);}
.map-dev-menu-container {display:block;outline: none;margin-bottom: 0;padding-left: 0;list-style: none;z-index: 1050;color: rgba(0, 0, 0, 0.65);background: #fff;line-height: 46px;transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);}
.map-dev-menu-container .map-dev-menu-item {width:100%;cursor: pointer;padding-left:10px;font-size:12px;height: 32px;line-height: 32px}
.map_dev_list .map-dev-menu-container .map-dev-menu-item:hover{color:#108ee9}
.dev-menu-mes {width: 198px;float:left;padding-left:10px;font-size:#222}
.dev-menu-mes i {margin-right:10px}
.map-dev-menu-container .select {background-color:#ecf6fd;color:#108ee9}
.select_right {z-index:99}
.select_right i {margin-right:10px}

.map_dev_list  {height:180px;min-width:230px;width:auto}
.map_dev_search {position: absolute;top:227px;left:240px;border: 1px solid #e7eaec;min-width: 230px;height:206px;border-radius: 4px;}
.map_dev_search .map_compoent_modal_head {padding:0}
.map_dev_search_type select{height:35px;padding:0;width:100px}
.map_dev_search_id input{height:35px;width:130px; color: #333333}

.map_dev_search .content ul .dev-search-list {background: #f7f7ff;}
.map_dev_search .content ul .dev-search-list .title {display:flex}
.map_dev_search .content ul li .rows{display:flex}
.status {width:50px}
.dev_id {width:170px}

.group_checkbox {background:#fff;padding:5px 10px;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);border-radius: 5px}

/*end baidu map*/
.map_content  {font-size:11px;}
/**/
.mint-field-core[readonly] {background-color: #fff;}
label.error{position: absolute;right: 23px;top: 10px;}

/*告警器信息*/
.alarm_data{position: relative;height:23px;margin-top:20px}
.alarm_data .line{top:7px!important;}

.outline {color:#f8ac59;}
.alarm {color:#ed5565}
.redefend{color:#23c6c8}
.normal {color:#1ab394}

.map_outline {background-color:#f8ac59}
.map_alarm {background-color:#ed5565}
.map_redefend{background-color:#23c6c8}
.map_normal {background-color:#1ab394}

.map_addr {width:100%}
.map_state_cir {font-size:18px}

.map_dev_search ul li:hover {background-color:#e4e6e7}
.dev_map_point {background-color:#e4e6e7}