#wrapper .sidebar-collapse{display:none}
#page-wrapper {margin-left:0px!important;padding:0px;}

 #jstree1 {font-size: 11px}
.jstree-open > .jstree-anchor > .fa-folder:before {content: "\f07c";}
.jstree-default .jstree-icon.none { width: 0;}
.jstree-default .jstree-open>.jstree-ocl {background-position: -35px -4px}
.jstree-default .jstree-closed>.jstree-ocl{background-position: 0 -4px}
.jstree-default .jstree-node {background-position: -366px -4px}

.map_compoent_modal .slimScrollDiv{height: 175px!important}
.map_compoent_modal .content{height: 175px!important}

#map_content{position:relative}
.nav > li.active {background:none;border:0}
.nav > li > a {font-weight: normal;color: #A7B1C2}
.group_checkbox {display:flex}
.BMap_pop>img {display: none}
.map_content_left {width:200px;float:left}
.map_label {float:left;}
.map_title {float:left;margin-left:10px}
.map_addr {float:left;margin-top:10px}
.map_content_right {float:right;width: 40px;color:#fff;height: 40px;text-align: center;line-height: 40px;border-radius: 4px;}
.icheckbox_square-green {width:15px!important;height:15px!important}
.icheckbox_square-green.checked {background-position: -50px -1px}
.layui-layer-shade {background-color:rgba(55, 55, 55, 0.6)!important}

.search {position:absolute;font-size:14px;right:5px;top:10px;color:#A7B1C2}
.search:hover {color:#108ee9;cursor:pointer}

.form-control,.select {font-size:12px; color: #000}
/*iframe*/
.map_compoent_modal {position: absolute;}
.map_dev_search {top:0px}
.new_top {top:20px}
.map_dev_list {min-width: 170px}
.search_left  {left:190px}