{% extends "index.html" %}
{% block css %}

{{ stylesheet_link('css/style.css') }}
{{ stylesheet_link('css/my-style.css') }}
{{ stylesheet_link('css/index.css') }}
{{ stylesheet_link('css/reset.css') }}
{{ stylesheet_link('css/plugins/jsTree/style.min.css') }}
{{ stylesheet_link('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}

{% endblock%}
{% block style%}
<style type="text/css">
    .display {display:none}
    #wrapper .sidebar-collapse{display:none}
    #page-wrapper {margin-left:0px!important;padding:0px;min-height: auto!important;}

     #jstree1 {font-size: 11px}
    .jstree-open > .jstree-anchor > .fa-folder:before {content: "\f07c";}
    .jstree-default .jstree-icon.none { width: 0;}
    .jstree-default .jstree-open>.jstree-ocl {background-position: -35px -4px}
    .jstree-default .jstree-closed>.jstree-ocl{background-position: 0 -4px}
    .jstree-default .jstree-node {background-position: -366px -4px}

    .map_compoent_modal .slimScrollDiv{height: 175px!important}
    .map_compoent_modal .content{height: 175px!important}

	.nav > li.active {background:unset;border:0}
	.nav > li > a {font-weight: normal;color: #A7B1C2}
    .group_checkbox {display:flex}
    .BMap_pop>img {display: none}
    .map_content_left {width:200px;float:left}
    .map_label {float:left;}
    .map_title {float:left;margin-left:10px}
    .map_addr {float:left;margin-top:10px}
    .map_content_right {float:right;width: 40px;color:#fff;height: 40px;text-align: center;line-height: 40px;border-radius: 4px;}
    .icheckbox_square-green {width:15px!important;height:15px!important}
    .icheckbox_square-green.checked {background-position: -50px -1px}
    .layui-layer-shade {background-color:rgba(55, 55, 55, 0.6)!important}

    .search {position:absolute;font-size:14px;right:5px;top:10px;color:#A7B1C2}
    .search:hover {color:#108ee9;cursor:pointer}

    .form-control,.select {font-size:12px; color: #000}

    .block {width:60px;text-align: center}
    .block .map_label{margin-top:8px;width:60px}
    .slimScrollDiv {overflow: unset!important}
    .tb1{
        width: 100%;
    }
    .row{
        margin-right :0!important;;
        margin-left: 0!important;
    }
</style>

{% endblock %}
{% block content %}
<form id="gameForm">
<table class="table table-default">
    <thead>
    <tr>
        <th>玩家id</th>
        <th>玩家姓名</th>
        <th>本局分数</th>
        <th>平台抽水</th>
        <th>本局结余</th>
        <th>历史结余</th>
        <th>本局结束后结余</th>
    </tr>
    </thead>
    <tbody id="t_body">
    <?php for($i=0;$i<$limit;$i++){ ?>
        <tr>
            <td>
                <input type="text" name="id_{{i}}" id="id_{{i}}" class="form-control" onchange="showName(this.value,{{i}})">
            </td>
            <td>
                <input type="text" name="name_{{i}}" id="name_{{i}}" placeholder="请先填写玩家ID" class="form-control" readonly>
            </td>
            <td>
                <input type="text" name="point_{{i}}" id="point_{{i}}" class="form-control" onblur="setPoint(this.value,{{i}})">
            </td>
            <td>
                <input type="text" name="pt_point_{{i}}" id="pt_point_{{i}}" value="0" class="form-control" readonly>
            </td>
            <td>
                <input type="text" name="left_{{i}}" id="left_{{i}}" class="form-control" readonly>
            </td>
            <td>
                <input type="text" name="hd_palyer_left_{{i}}" id="hd_palyer_left_{{i}}" class="form-control" readonly>
            </td>
            <td>
                <input type="text" name="palyer_left_{{i}}" id="palyer_left_{{i}}" class="form-control" readonly>
            </td>
        </tr>
    <?php } ?>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="100%">
            <div class="pull-right m-t-md">
                <a class="btn btn-primary" href="javascript:checkform()">保存数据</a>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
</form>
<script>
    var sys_point = {{point}};
    var sys_percent = {{percent}};
    var limit = {{limit}};

    function showName(id,tag) {
        var lyl = layer.load(5);
        $("#name_"+tag).val("");
        $("#palyer_left_"+tag).val(0.00);
        $("#hd_palyer_left_"+tag).val(0.00);
        $.ajax({
            url:"{{url('admin/index/getname')}}",
            data:{'id':id},
            type:"POST",
            dataType:"JSON",
            success:function (res) {
                layer.close(lyl);
                if(res.code == '200'){
                    $("#name_"+tag).val(res.data);
                    $("#hd_palyer_left_"+tag).val(Number(res.point).toFixed(2));
                    var point = $("#left_"+tag).val();
                    $("#palyer_left_"+tag).val((Number(res.point) + Number(point)).toFixed(2));
                }else{
                    layer.msg(res.msg);
                }
            }
        })
    }

    function setPoint(value,tag) {
        var pt_point = 0;
        var left = value;
        var player_left = $("#hd_palyer_left_"+tag).val();
        if(value > sys_point ){//大于基数，扣数
            left = (Number(value) *  (1.00 - Number(sys_percent))).toFixed(2) ;
            pt_point = (Number(value) - Number(left)).toFixed(2) ;
        }

        player_left = (Number(player_left)+Number(left)).toFixed(2) ;
        $("#pt_point_"+tag).val(pt_point);
        $("#left_"+tag).val(Number(left).toFixed(2));
        $("#palyer_left_"+tag).val(Number(player_left).toFixed(2));
    }

    function checkform(){
        var chkList = new Array();
        var sumPoint = 0;
        for(var i=0;i<limit;i++){
            if(!$("#id_"+i).val()){
                layer.msg("请输入第"+(Number(i)+1)+"行玩家信息！");
                return ;
            }else{
                var tempid =  $("#id_"+i).val();
                if(chkList.indexOf(tempid)<0){
                    chkList.push(tempid);
                }else if(chkList.length>0){
                    layer.msg("第"+(Number(i)+1)+"行玩家重复！");
                    return ;
                }
;            }
            if($("#name_"+i).val()==''){
                layer.msg("第"+(Number(i)+1)+"行玩家信息请重新填写！");
                return ;
            }
            if($("#point_"+i).val()=='' || !/^(-)*(\d|\.)+$/.test($("#point_"+i).val())){
                layer.msg("请输入正确的第"+(Number(i)+1)+"行玩家本局分数！");
                return ;
            }else{
                sumPoint = Number(sumPoint)+Number($("#point_"+i).val());
            }
        }
        if(sumPoint != 0 ){
            layer.msg("本局分数合计为"+sumPoint+"，请重新检查！");
            return ;
        }
        var lyl = layer.load(5);
        $.ajax({
            url:"{{url('admin/index/savegame')}}",
            data:$("#gameForm").serialize(),
            type:"POST",
            dataType:"JSON",
            success:function (res) {
                layer.close(lyl);
                console.log(res);
                layer.msg(res.msg);
                if(res.code=="200"){
                    setTimeout(function () {
                        window.location.href="{{url('admin/index/index')}}";
                    },500)
                }
            }
        })

    }
</script>
{% endblock %}
{% block javascript%}
{{ javascript_include('js/tool.js')}}
{{ javascript_include('js/plugins/jsTree/jstree.min.js')}}
{{ javascript_include('js/plugins/iCheck/icheck.min.js')}}
{{ javascript_include('js/vue.js')}}
{{ javascript_include('js/index_map.js')}}
{{ javascript_include('js/plugins/slimscroll/jquery.slimscroll.min.js')}}

{% endblock%}