{% extends "index.html" %}
{% block css %}

{{ stylesheet_link('css/style.css') }}
{{ stylesheet_link('css/my-style.css') }}
{{ stylesheet_link('css/index.css') }}
{{ stylesheet_link('css/reset.css') }}
{{ stylesheet_link('css/plugins/jsTree/style.min.css') }}
{{ stylesheet_link('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}

{% endblock%}
{% block style%}
<style type="text/css">
    .display {display:none}
    #wrapper .sidebar-collapse{display:none}
    .wrapper,.wrapper-content {padding:0px!important;margin: 0px!important}
    #page-wrapper {margin-left:0px!important;padding:0px;min-height: auto!important;}

     #jstree1 {font-size: 11px}
    .jstree-open > .jstree-anchor > .fa-folder:before {content: "\f07c";}
    .jstree-default .jstree-icon.none { width: 0;}
    .jstree-default .jstree-open>.jstree-ocl {background-position: -35px -4px}
    .jstree-default .jstree-closed>.jstree-ocl{background-position: 0 -4px}
    .jstree-default .jstree-node {background-position: -366px -4px}

    .map_compoent_modal .slimScrollDiv{height: 175px!important}
    .map_compoent_modal .content{height: 175px!important}

	.nav > li.active {background:unset;border:0}
	.nav > li > a {font-weight: normal;color: #A7B1C2}
    .group_checkbox {display:flex}
    .BMap_pop>img {display: none}
    .map_content_left {width:200px;float:left}
    .map_label {float:left;}
    .map_title {float:left;margin-left:10px}
    .map_addr {float:left;margin-top:10px}
    .map_content_right {float:right;width: 40px;color:#fff;height: 40px;text-align: center;line-height: 40px;border-radius: 4px;}
    .icheckbox_square-green {width:15px!important;height:15px!important}
    .icheckbox_square-green.checked {background-position: -50px -1px}
    .layui-layer-shade {background-color:rgba(55, 55, 55, 0.6)!important}

    .search {position:absolute;font-size:14px;right:5px;top:10px;color:#A7B1C2}
    .search:hover {color:#108ee9;cursor:pointer}

    .form-control,.select {font-size:12px; color: #000}

    .block {width:60px;text-align: center}
    .block .map_label{margin-top:8px;width:60px}
    .slimScrollDiv {overflow: unset!important}
    .tb1{
        width: 80%;
    }
    .row{
        margin-right :0!important;;
        margin-left: 0!important;
    }
</style>

{% endblock %}
{% block content %}
<form  id="checkform">
<table class="table">
    <thead>
        <tr>
            <th>参数名</th>
            <th>参数说明</th>
            <th>参数值</th>
        </tr>
    </thead>
    <tbody>
        {% for item in list %}
            <tr>
                <td>{{item['name']}}</td>
                <td>{{item['desc']}}</td>
                <td>
                    <input type="text" name="{{item['name']}}" class="form-control" value="{{item['value']}}">
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3" >
                    <input type="button" style="float: right" class="btn btn-primary" onclick="checkform()" value="更新">
                </td>
            </tr>
    </tbody>
</table>
</form>
<script>
    function checkform() {
        ///todo 检查参数

        var lyl =layer.load(5);
        $.ajax({
            url:"{{url('admin/system/update')}}",
            data: $("#checkform").serialize(),
            type:"POST",
            dataType:"JSON",
            success:function (res) {
                layer.close(lyl);
                console.log(res);
                layer.msg(res.msg);
                if(res.code=="200"){
                    setTimeout(function () {
                        window.location.reload(1);
//                        window.location.href= 'index.php?_url=admin/index/index';
                    },500)
                }
            }
        });
    }
</script>
{% endblock %}
{% block javascript%}
{{ javascript_include('js/tool.js')}}
{{ javascript_include('js/plugins/jsTree/jstree.min.js')}}
{{ javascript_include('js/plugins/iCheck/icheck.min.js')}}
{{ javascript_include('js/vue.js')}}
{{ javascript_include('js/index_map.js')}}
{{ javascript_include('js/plugins/slimscroll/jquery.slimscroll.min.js')}}

{% endblock%}